body {
    background-color: #f8f9fa;
}

.title {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    width: 1500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}


.left-first{
    height:40px;
    border-radius: 7px;
    padding:10px;
    margin-right: 1px;
    margin-left: 15px;
}

.left{
    height:40px;
    border-radius: 7px;
    padding:10px;
    margin-right: 1px;
}


.left1{
    height:40px;
    border-radius: 7px;
    padding:10px;
    margin-right: 190px;
}

.right{
    height:40px;
    border-radius: 7px;
    padding:10px;
    margin-right: 0px;
}


.table-box {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 1500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 740px;
  }
  
  .pagination button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
  .pagination-info {
    font-weight: bold;
    color: #989393;
    margin-left: 5px;
    margin-top: 20px;
}

.dropdown-container {
    display: flex;
    gap: 20px; 
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .dropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
  
  .search-icon,
  .download-icon {
    position: absolute;
    left: 10px;
    color: #666;
    pointer-events: none;
    font-size: 1em;
  }

  .date-input {
    border: 1px solid #030303;
    border-radius: 4px;
    padding: 5px;
    margin-left: 1px; 
  }
  

  .date-input {
    border: 1px solid #030303;
    border-radius: 4px;
    padding: 5px;
    margin-left: 1px;
  }
  
  .datepicker-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 250px;
  }
  
  .calendar-icon {
    margin-right: 8px;
    color: #666;
    cursor: pointer;
  }
  
  .datepicker-input {
    border: none;
    width: 100%;
    outline: none;
    padding-left: 8px;
    font-size: 14px;
  }
  
  .datepicker-container:hover {
    border-color: #007bff;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .datepicker-container .react-datepicker-wrapper {
    width: 100%;
  }
  