.not-ready-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #343a40;
  }
  
  p {
    font-size: 1.2rem;
    color: #6c757d;
    margin: 20px 0;
  }
  
  .back-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  