.login-section, .welcome-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 860px;
}

/* Styling for the error message box */
.error-message {
    color: #fff; /* White text color */
    background-color: #ff4d4f; /* Red background */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff1a1a;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 320px; /* Optional: match input width */
    text-align: center;
    margin-left: 20px;
  }

  .social-buttons {
    display: flex;
    justify-content: center; /* Center the buttons */
    margin-top: 30px; /* Adjust as needed */
  }
  
  .facebook-btn img {
    width: 30px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  
  